{% extends 'app/base.html' %}

{% block content %}

<div class="d-flex justify-content-between mb-3">
    <h3>Users</h3>
    <a href="{% url 'user_create' %}" class="btn btn-primary">+ Add</a>
</div>

<div class="row">
{% for user in users %}
    <div class="col-md-4">
        <div class="card mb-3 shadow">

            {% if user.picture %}
            <img src="{{ user.picture.url }}" class="card-img-top" style="height:200px; object-fit:cover;">
            {% endif %}

            <div class="card-body">
                <h5>{{ user.name }}</h5>
                <p>{{ user.email }}</p>

                <a href="{% url 'user_detail' user.slug %}" class="btn btn-info btn-sm">View</a>
                <a href="{% url 'user_update' user.slug %}" class="btn btn-warning btn-sm">Edit</a>

                <form action="{% url 'user_delete' user.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button class="btn btn-danger btn-sm">Delete</button>
                </form>
            </div>

        </div>
    </div>
{% endfor %}
</div>

{% endblock %}