{% extends 'app/base.html' %}

{% block content %}

<div class="card p-4 shadow">
    <h3>Update User</h3>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <input class="form-control mb-2" name="name" value="{{ user.name }}">
        <input class="form-control mb-2" name="surname" value="{{ user.surname }}">
        <input class="form-control mb-2" name="age" value="{{ user.age }}">
        <input class="form-control mb-2" name="email" value="{{ user.email }}">
        <input class="form-control mb-2" type="file" name="picture">

        <button class="btn btn-warning">Update</button>
    </form>
</div>

{% endblock %}