{% extends 'app/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="form-container">
    <h2>Yangi foydalanuvchi qo‘shish</h2>

    <form method="post" enctype="multipart/form-data" class="form-box">
        {% csrf_token %}

        <label>Ism:</label>
        <input type="text" name="name" placeholder="Ismingizni kiriting" required>

        <label>Familiya:</label>
        <input type="text" name="surname" placeholder="Familiyangizni kiriting" required>

        <label>Yosh:</label>
        <input type="number" name="age" placeholder="Yoshingiz" required>

        <label>Rasm:</label>
        <input type="file" name="picture">

        <button type="submit" class="btn">Saqlash</button>
    </form>
</div>

{% endblock %}